<form class="container mt-3 bg-special pt-3 pb-5" enctype="multipart/form-data" action="/users/profile/edit" method="post">

    <h1 class="display-4 text-center w-100 bg-success">Edit Your Info. </h1>

    <img src="/<%=user.image%>"  class="img-fluid rounded mx-auto d-block w-25 pb-2" alt="<%=user.name%>  image">

<div class="form-group input-group-prepend mb-5 w-50 mx-auto">
  <div class="input-group-text d-flex align-items-center">
    <label for="exampleFormControlFile1" >Upload new Image</label>
    <input type="file" name="image" accept="images/" class="form-control-file btn btn-light" id="exampleFormControlFile1">
  </div>
</div>
<% for(let i =0 ; i< errors.length ; i++){ 
        if (errors[i].param === 'image'){%>
      <div class="alert-danger mx-auto w-50 p-2 mb-2 text-center">
          <%=errors[i].msg%>
       </div>
       <% break }}  %>
 <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">your Name</label>
    <div class="col-sm-10">
      <input type="text" name="userName" value="<%=user.name%>" class="form-control" id="inputEmail3">
    </div>
  </div>
  <% for(let i =0 ; i< errors.length ; i++){ 
        if (errors[i].param === 'userName'){%>
      <div class="alert-danger mx-auto w-50 p-2 mb-2 text-center">
          <%=errors[i].msg%>
       </div>
       <% break }}  %>

  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">your Email</label>
    <div class="col-sm-10">
      <input type="text" name="email" value="<%=user.email%>" class="form-control" id="inputPassword3" disabled>
    </div>
  </div>
<% for(let i =0 ; i< errors.length ; i++){ 
        if (errors[i].param === 'email'){%>
      <div class="alert-danger mx-auto w-50 p-2 mb-2 text-center">
          <%=errors[i].msg%>
       </div>
       <% break }}  %>
 <hr>

    <label for="basic-url" class="details mt-3 text-center">For more secuirty Enter Your Password to submit data</label>
    <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">your Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="inputPassword3" id="basic-url">
    </div>
  </div>
  <% for(let i =0 ; i< errors.length ; i++){ 
        if (errors[i].param === 'password'){%>
      <div class="alert-danger mx-auto w-50 p-2 mb-2 text-center">
          <%=errors[i].msg%>
       </div>
       <% break }}  %>
 
    <div class="container d-flex justify-content-center">
        <button type="submit" class="btn btn-warning btn-lg  w-50 info ls3">Submit</button>
    </div>
  </form>