<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 50px;
  text-align: center;
  font-family: arial;
}


</style>
</head>

<body>
<div class="card container">
  <div class="row">
    <div class="col">
              <% if(user.image){%> 
              <img class="img-thumbnail mx-auto rounded-circle" style="width: 75%;" alt="user image" src="/<%=user.image%>"></img>
              <% } %>
 </div>
 <div class="col mt-2 pt-2 text-left">
  <h3 class="text-primary mb-4"><li>User name: <i class="text-dark"><%= user.name  %> </i></h3></li>
  <hr><h3 class="text-primary mb-4"><li>Email: <i class="text-dark h4"><%= user.email  %> </i></h3></li>
<!-- is super admin -->
  <% if(user.isSuperAdmin){ %> 
  <hr><h3 class="text-primary mb-4"><li>Super Admin: <i class="text-dark"><%= user.isSuperAdmin  %> </i></h3></li>
  <% } %> 
<!-- isAdmin -->
  <% if(user.isAdmin){ %> 
  <hr><h3 class="text-primary mb-4"><li>Admin: <i class="text-dark"><%= user.isAdmin  %> </i></h3></li>
  <% } %> 
  <hr><h3 class="text-primary mb-4"><li>join Date:<i class="text-dark"><%= (user.joinDate).getDate()%> /<%= (user.joinDate).getMonth() +1%> /<%= (user.joinDate).getFullYear()%></i></h3></li>
  <p><a href="/users/profile/edit" class="btn btn-primary text-center w-75">Edit</a></p>
  <a href="/users/changePassword">
  <button type="button" class="btn btn-danger">
  Change Password <span class="badge badge-light">4</span>
  </button>
</a>
</div>
</div>

</div>